<div class="home-container">

  <section class="hero">
    <h1>Bienvenue sur BookHub</h1>
    <p>Découvrez et empruntez vos livres facilement</p>
    <button class="btn-explorer" routerLink="/catalogue">Explorer les livres</button>
  </section>

  <hr class="separator">

  <section class="search-section">
    <div class="filter-wrapper">
      <!-- 🔎 BARRE DE RECHERCHE (AJOUTÉE ICI) -->
      <div class="search-bar">
        <input
          type="text"
          [(ngModel)]="keyword"
          (input)="onSearch()"
          placeholder="Rechercher un livre (titre, auteur, ISBN...)"
        />
        <button (click)="onSearch()">
          🔍 Rechercher
        </button>
      </div>
    </div>
  </section>

  <div class="grid-header">
    <h2 style="margin-bottom: 1.5rem; color: #2c3e50; font-size: 1.5rem;">
      Suggestions du jour
    </h2>
  </div>

  <section class="books-grid">
    @for (livre of livres; track livre.id) {
      <div class="book-card">
        <div class="book-image">
          @if (livre.coverUrl) {
            <img [src]="'http://localhost:8080/uploads/' + livre.coverUrl">
          } @else {
            <div class="placeholder-img">📚<br>Image</div>s
          }
        </div>

        <div class="book-info">
          <h3>{{ livre.title | uppercase }}</h3>
          <p class="author">Par {{ livre.author | titlecase }}</p>

          <div class="status">
            <span class="badge" [ngClass]="livre.availableCopies > 0 ? 'available' : 'unavailable'">
              {{ livre.availableCopies > 0 ? livre.availableCopies + ' disponible(s)' : 'Indisponible' }}
            </span>
          </div>

          <button class="btn-details" (click)="this.selectedLivre=livre">
            Voir détails
          </button>
        </div>
      </div>
    } @empty {
      <div class="no-data">
        <p>Aucun livre ne correspond à vos critères.</p>
      </div>
    }
  </section>
  @if (selectedLivre) {
   <app-details-livre-modal [selectedLivre]="selectedLivre" (closeModal)="fermerDetails()"></app-details-livre-modal>
  }
</div>
