<nav class="navbar">
  <div class="logo" routerLink="/homepage">Bookhub</div>

  <ul class="nav-links">
    <li><a class="logo" routerLink="/homepage" routerLinkActive="active">Accueil</a></li>
    <li><a class="logo" routerLink="/catalogue" routerLinkActive="active">Catalogue</a></li>
  </ul>

  <div class="user-menu">
    <button class="user-btn">
      @if (user) {
        <div class="user">
          <span class="user-icon">👤</span>
          Bonjour {{ user.nom }} {{ user.prenom }}
        </div>
      }
    </button>

    <div class="dropdown-content">
      <a routerLink="/profil">Mon Profil</a>
      <a routerLink="/dashboard">Tableau de bord</a>
      <hr>
      <a (click)="logout()" class="logout-link" style="cursor: pointer;">Déconnexion</a>
    </div>
  </div>
</nav>
